*{
    margin: 0;
}
body{
    background: #ffffff;
}

textarea
{
    width:100%;
    height: 550px;
    border:1px solid #dcdcdc;
    resize: none;
}

.language{
    border:1px solid #dcdcdc;
    width: 150px;
    height: 25px;
}

.access{
    border:1px solid #dcdcdc;
    margin-bottom: 10px;
    width: 150px;
    height: 25px;
}

.activity{
    border:1px solid #dcdcdc;
    width: 150px;
    height: 25px;
}

.save{
    width: 200px !important;
    height: 30px !important;
    float: right;
}

.create input{
    width:100%;
    border:1px solid #dcdcdc;
    height: 25px;
}

.container{
    width: 100%;
}

.menu{
    background: #333539;
    height: 50px;
}
.menu a{
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;

}
.link_paste{
    padding-top: 10px;
    color: #e3e3e3;
}


.create{
    border-right: 1px solid #c6c8ca;
    padding: 20px;
    width: 80%;
    float: left;
    clear: both;
}
.public_codes{
    padding: 20px;
    width: 40%;
    clear: both;
    display: table-cell;
    word-break:break-all;
}

.public_codes a{
    font-size: 16px;
}

.codes_user a{
    font-size: 16px;
}

.codes_user p{
    padding-bottom: 5px;
}

.public_codes p{
    padding-bottom: 5px;
}

.list{
    clear: both;
}

.navbar{
    float: right;
}
.codes_user{
    padding: 20px;
    width: 250px;
    float: left;
    word-break:break-all;

}

.full{
    display: table;
}

