body{
    background: #e0e0e0;
}

.create{
    border: 1px solid #c6c8ca;
    padding: 20px;
    width: 400px;
    float: left;
    clear: both;
}
.public_codes{
    border: 1px solid #c6c8ca;
    padding-left: 20px;
    width: 400px;
    float: left;

}

.codes_user{
    clear: both;
}
